Playbooks/SecCopilot-UserReportedPhishing/azuredeploy_old.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Sec-Copilot-UserReportedPhishing",
            "type":  "string"
        }
    },
    "variables":  {
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]",
        "SecuritycopilotConnectionName":  "[concat('Securitycopilot-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "When_a_new_email_arrives_(V3)":  {
                            "splitOn":  "@triggerBody()?['value']",
                            "type":  "ApiConnectionNotification",
                            "inputs":  {
                                "fetch":  {
                                    "method":  "get",
                                    "pathTemplate":  {
                                        "template":  "/v3/Mail/OnNewEmail"
                                    },
                                    "queries":  {
                                        "fetchOnlyWithAttachment":  true,
                                        "folderPath":  "Inbox",
                                        "importance":  "Any",
                                        "includeAttachments":  false
                                    }
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "subscribe":  {
                                    "body":  {
                                        "NotificationUrl":  "@{listCallbackUrl()}"
                                    },
                                    "method":  "post",
                                    "pathTemplate":  {
                                        "template":  "/GraphMailSubscriptionPoke/$subscriptions"
                                    },
                                    "queries":  {
                                        "fetchOnlyWithAttachment":  true,
                                        "folderPath":  "Inbox",
                                        "importance":  "Any"
                                    }
                                }
                            }
                        }
                    },
                    "actions":  {
                        "Create_HTML_table":  {
                            "runAfter":  {
                                "Select":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@body('Select')"
                            }
                        },
                        "Domain_reputation_MDTI":  {
                            "runAfter":  {
                                "_indicators_within_the_email":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Return the reputation for all the domain your shared",
                                    "SessionId":  "@body('_indicators_within_the_email')?['sessionId']",
                                    "SkillName":  "GetReputationsByHostnames"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "KQL_sent_to_other_users":  {
                            "runAfter":  {
                                "sender_and_return_path_email":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "/LookupDataFromDefender365Hunting Base on the email title check if this email sent to other users in my organization?",
                                    "SessionId":  "@body('sender_and_return_path_email')?['sessionId']",
                                    "SkillName":  "GetTiArticlesBySearch"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "KQl_Who_else_click_on_this_Email":  {
                            "runAfter":  {
                                "KQL_sent_to_other_users":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "/LookupDataFromDefender365Hunting Base on the email title, and the sender email address, check if other users in the organization click on the link inside the email? ignore the Url \"https://security.microsoft.com/userSubmissionsReportMessage\"",
                                    "SessionId":  "@body('KQL_sent_to_other_users')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@triggerBody()",
                                "schema":  {
                                    "properties":  {
                                        "attachments":  {
                                            "type":  "array"
                                        },
                                        "bccRecipients":  {
                                        },
                                        "body":  {
                                            "type":  "string"
                                        },
                                        "bodyPreview":  {
                                            "type":  "string"
                                        },
                                        "ccRecipients":  {
                                        },
                                        "conversationId":  {
                                            "type":  "string"
                                        },
                                        "from":  {
                                            "type":  "string"
                                        },
                                        "hasAttachments":  {
                                            "type":  "boolean"
                                        },
                                        "id":  {
                                            "type":  "string"
                                        },
                                        "importance":  {
                                            "type":  "string"
                                        },
                                        "internetMessageId":  {
                                            "type":  "string"
                                        },
                                        "isHtml":  {
                                            "type":  "boolean"
                                        },
                                        "isRead":  {
                                            "type":  "boolean"
                                        },
                                        "receivedDateTime":  {
                                            "type":  "string"
                                        },
                                        "replyTo":  {
                                        },
                                        "subject":  {
                                            "type":  "string"
                                        },
                                        "toRecipients":  {
                                            "type":  "string"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Parse_JSON_2":  {
                            "runAfter":  {
                                "Summaries_findings":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Summaries_findings')",
                                "schema":  {
                                    "properties":  {
                                        "Evaluation Result Content":  {
                                            "type":  "string"
                                        },
                                        "Evaluation Result Type":  {
                                            "type":  "string"
                                        },
                                        "Next Prompt Suggestions":  {
                                        },
                                        "Prompt Content":  {
                                            "type":  "string"
                                        },
                                        "SessionId":  {
                                            "type":  "string"
                                        },
                                        "Skill Name":  {
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Select":  {
                            "runAfter":  {
                                "report_answer":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Select",
                            "inputs":  {
                                "from":  "@variables('Report')",
                                "select":  {
                                    "Copilot Phishing Report":  "@variables('Report')",
                                    "Session Link":  "https://securitycopilot.microsoft.com/sessions/@{body('Summaries_findings')?['sessionId']}"
                                }
                            }
                        },
                        "Send_an_email_(V2)":  {
                            "runAfter":  {
                                "Create_HTML_table":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Body":  "\u003cp\u003e@{body('Create_HTML_table')}\u003c/p\u003e",
                                    "Importance":  "Normal",
                                    "Subject":  "User reported Phishing Security Copilot investigation",
                                    "To":  ""
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v2/Mail"
                            }
                        },
                        "Summaries_findings":  {
                            "runAfter":  {
                                "KQl_Who_else_click_on_this_Email":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Base on the above email investigation, summarize this investigation with all the investigation steps that taken during this session share also supported evidence and let me know if this is a phshing email, also share certainty percentage",
                                    "SessionId":  "@body('KQl_Who_else_click_on_this_Email')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Triage_this_email":  {
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "/AskGPT Can you triage this email and point out what you find suspicious? @{body('Parse_JSON')?['body']} . Dont include in your investigation the above url https://security.microsoft.com/userSubmissionsReportMessage, in your triage Investigate the Message-ID for any inconsistencies or signs of spoofing."
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "_indicators_within_the_email":  {
                            "runAfter":  {
                                "Triage_this_email":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Please list for me all the technical indicators within the email that should be investigated. this url https://security.microsoft.com/userSubmissionsReportMessage is internal url, dont incluce it in the analsys",
                                    "SessionId":  "@body('Triage_this_email')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "report_answer":  {
                            "runAfter":  {
                                "Parse_JSON_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Report",
                                        "type":  "array",
                                        "value":  "@array(body('Parse_JSON_2')?['Evaluation Result Content'])"
                                    }
                                ]
                            }
                        },
                        "sender_and_return_path_email":  {
                            "runAfter":  {
                                "summarize_the_Article":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "What about the sender and return path email? Are these associated with any intelligence articles?",
                                    "SessionId":  "@body('summarize_the_Article')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "summarize_the_Article":  {
                            "runAfter":  {
                                "Domain_reputation_MDTI":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Could you summarize the article associated with this domain?",
                                    "SessionId":  "@body('Domain_reputation_MDTI')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            },
                            "securitycopilot":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]",
                                "connectionName":  "[variables('SecuritycopilotConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "Created By":  "Yaniv Shasha",
                "CreatedDate":  "9/25/2023 7:38:44 PM",
                "CreatorUPN":  "yanivsh@woodgrove.ms"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SecuritycopilotConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SecuritycopilotConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                }
            }
        }
    ]
}
